.gender, .name, .age, .registered, .clazz {
  font-weight: bold;
  font-style: italic;
}

.name {
  margin-left: 12px;
}

.age {
  margin-left: 108px;
}

.registered {
  margin-left: 5px;
}

.clazz {
  margin-left: 60px;
}
